<!DOCTYPE html>
<html>

  <head>
  
  </head>

  <body>
    <div class="container">
      <p class="loader">Uploading...</p>
      
      <img class="pokemon" src="" alt="">
      <h1 class="pokename"></h1>
      <br />
      <h4>Age: Unknown</h4>
      <h4>Poké Type: Fire & Flying</h4>
      <h4>Hometown: Poké Ball</h4>
      <h4>Looking For: Plant Type</h4>
      <h4>Favorite Color: Red</h4>
      <h4>Favoritie Food: Spicy! <img class="flame" src="http://4.bp.blogspot.com/-6hBF1YvnbTU/U2qHskD9lfI/AAAAAAAACNU/QeaCMC0j3y0/s1600/emoticons_flame.png"></h4>
      <h4>Hobbies & Interests: Flying, burning things, and not listening to Ash.</h4>
      <br />
      <h1>About Me</h1>  
      <br />
      <h4>
        Hi, I'm Charizard, and I am a draconic, bipedal Pokémon. I am orange with a cream underside from the chest to the tip of my tail, which burns with a sizable flame. I have a long neck, small blue eyes, raised nostrils, and two blunt horns protruding from the back of my rectangular head. Don't be scared about my horns I promise not to hurt you (unless you try to hurt me...). My arms are short and skinny compared to my robust belly, but I don't let that affect me. I'm looking for a nice Plant Type girl who isn't intimidated by my super effective looks, and doesn't mind if I take her flying on a romantic night out. I'm very fun and outgoing and would love the chance to light your fire!
      </h4>
      <br />
      <br />
      <hr />

    </div>

    
  </body>

</html>
